#telegram ids
BOT_DEVELOPMENT_TOKEN=
BOT_PRODUCTION_TOKEN=

# the id of the chat where the bot will work
CHAT_ID=
#ids of the admins, separeted by commas
ADMIN_IDS=[]

BASE_PATH=../..

#google autentication creadentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

#production | staging | development
NODE_ENV=

#boolean
UPLOAD_TO_GPHOTOS=

#you can create or get the ID of an album using utils functions
ALBUM_ID=

#tags to include in each upload
PHOTO_DESCRIPTION="#testing"

# This will be used in the info command, http link to the album
ALBUM_URL=

# Get it for free in accuweather website
ACCUWEATHER_API_KEY=
