#telegram ids
BOT_DEVELOPMENT_TOKEN=
BOT_PRODUCTION_TOKEN=

CHAT_ID=
ADMIN_IDS=[]

BASE_PATH=../..

#google autentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

NODE_ENV=

UPLOAD_TO_GPHOTOS=
ALBUM_ID=
PHOTO_DESCRIPTION="#testing"
ALBUM_URL=

ACCUWEATHER_API_KEY=
